<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:replace="header :: nav"></div>
	<form th:object="${user}" th:action="@{/register}" method="post">
		<ul>
			<li>
				<label>First name <input type="text" th:value="@{firstName}" required="required"/></label>
			</li>
			<li>
				<label>Last name <input type="text" th:value="@{lastName}" required="required"/></label>
			</li>
			<li>
				<label>Email address <input type="email" th:value="@{email}" required="required"/></label>
			</li>
			<li>
				<label>Username <input type="text" th:value="@{username}" required="required"/></label>
			</li>
			<li>
				<label>Date of birth <input type="date" th:value="@{dateOfBirth}" required="required"></label>
			</li>
			<li>
				<label>Gender
					<select th:value="@{gender}" required="required">
						<option value="male">Male</option>
						<option value="female">Female</option>
						<option value="other">Other</option>
					</select>
				</label>
			</li>
			<li>
				<label>Password <input type="password" th:value="@{password}" required="required"/></label>
			</li>
			<li>
				<label>Password Confirm <input type="password" th:value="@{passwordConfirm}" required="required"/></label>
			</li>
			<li>
				<input type="submit" value="Submit">
			</li>
		</ul>
	</form>
</body>
</html>